<mat-toolbar color="primary">
  <button>
    <mat-icon>home</mat-icon>
  </button>
  <span class="fillspace"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span> Signup</span>
      </button>
      <button mat-menu-item>
        <mat-icon>fingerprint</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>group_work</mat-icon>
        <span>Portfolio</span>
      </button>
      <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
        <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </button>
          <button mat-menu-item>
              <mat-icon>perm_phone_msg</mat-icon>
              <span>Contact Us</span>
            </button>
    </mat-menu>

</mat-toolbar>
<mat-toolbar-row>
  <div fxLayoutAlign="center center">
     <h1> Welcome To Job  Hub  Ghana </h1>
  </div>

  </mat-toolbar-row>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <img mat-card-image src="/src/assets/Images/logo.PNG" alt="Photo of a Shiba Inu">
   </mat-card>
</div>
<mat-toolbar color="primary">
    <span></span>
</mat-toolbar>
<mat-tab-group dynamicHeight>
  <mat-tab label="Mansons">
<div class="example-large-box mat-elevation-z4">
    <img mat-card-image src="/src/assets/Images/manson.jpg" alt="Photo of a Shiba Inu">
     </div>
     <div>
        <div>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle>
                  <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
               </mat-card-header>
        </div>
       <mat-card-content fxLayoutAlign="center center">
          <p>
        I am a Mansons with a work expirience of 12 years in the field of building.
        I am pationate about my work and diliver greate service  to my client.
        <b>Tema</b> is my Domicile and you can call on me for any work in my field.
        i  <b>gurantee</b> professional work for my client.
        please visit the <b>Menu Bar</b> at the  Top right corner side and click on
        <b>Portfolio Icon</b> to Read more about my Services.
        <em><b> Thank you.</b></em>
      </p>
       </mat-card-content>
     </div>
  </mat-tab>
  <mat-tab label="Painter">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/painter.JPG">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Hair Dresser">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/hairdresser.jpg">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Barbar">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/barbar.jpg">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">
               <div>
        <div>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle>
                  <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
               </mat-card-header>
        </div>
       <mat-card-content fxLayoutAlign="center center">
          <p>
        I am a Mansons with a work expirience of 12 years in the field of building.
        I am pationate about my work and diliver greate service  to my client.
        <b>Tema</b> is my Domicile and you can call on me for any work in my field.
        i  <b>gurantee</b> professional work for my client.
        please visit the <b>Menu Bar</b> at the  Top right corner side and click on
        <b>Portfolio Icon</b> to Read more about my Services.
        <em><b> Thank you.</b></em>
      </p>
       </mat-card-content>
     </div>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Photographer">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/photographer.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Teacher">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/teacher.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Gardener">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/Gardener.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Janitor">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/Genitor.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Nanny">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/nanny.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Tailor">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/Tailor.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Shoe Maker">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/shoemaker.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Plumber">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/Plumber.jpg" alt="Photo of a Shiba Inu">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Driver">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/driver.jpg">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Security">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/security.jpg" >
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Electrician">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/electrician.jpg">
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
  <mat-tab label="Computer Technician">
      <div fxLayoutAlign="center center">
          <h1>Hi</h1>
        </div>
      <div class="example-large-box mat-elevation-z4">
          <img mat-card-image src="/src/assets/Images/CT.jpg" >
         </div>
         <div>
           <mat-card-content fxLayoutAlign="center center">

           </mat-card-content>
         </div>
         <div>
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>
                    <mat-card-subtitle>
                      <b>Hello There!, My Name is Bruce Justice</b></mat-card-subtitle>
                   </mat-card-header>
            </div>
           <mat-card-content fxLayoutAlign="center center">
              <p>
            I am a Mansons with a work expirience of 12 years in the field of building.
            I am pationate about my work and diliver greate service  to my client.
            <b>Tema</b> is my Domicile and you can call on me for any work in my field.
            i  <b>gurantee</b> professional work for my client.
            please visit the <b>Menu Bar</b> at the  Top right corner side and click on
            <b>Portfolio Icon</b> to Read more about my Services.
            <em><b> Thank you.</b></em>
          </p>
           </mat-card-content>
         </div>
  </mat-tab>
</mat-tab-group>
