 <div fxLayoutAlign="center center">
 <mat-toolbar  color="primary" fxLayoutAlign="center center">
 <h1>Login Page</h1>
 </mat-toolbar>
 </div>
  <div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <img mat-card-image src="/src/assets/Images/avatar.PNG">
   </mat-card>
</div>
<div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
<mat-form-field>
<input matInput  placeholder="Username"> 
</mat-form-field>
<mat-form-field>
<input type="Password" matInput  placeholder="Password"> 
</mat-form-field>
<div fxLayoutAlign="center center">
  <button  mat-raised-button color="primary">Login</button>
</div>
</div>